/* MAIN PROJECT STYLES
---------------------------------------- */

/* Import stylesheets
---------------------------------------- */
/* Exception: responsive styles are imported at the end to override rules set here */


@import 'settings';
@import '../../node_modules/foundation-apps/scss/foundation.scss';
@import 'functions';
@import 'mixins';
@import 'colors';
@import 'typography';
@import 'increments';
@import 'defaults';
@import 'toasts';
@import '../app/components/login/login';


/* General rules
----------------------------------------*/



/* Import responsive scss
----------------------------------------*/
@import 'responsive';
/* NOTE: Nothing should come after this!!! */
